<div class="container mt-4">
    <h2>Employee List</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr No.</th>
          <th>Employee Name</th>
          <th>Login Email</th>
          <th>Department Name</th>
          <th>Actions
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees; let srno = index">
          <td>{{ srno + 1 }}</td>
          <td>{{ emp.employeeName }}</td>
          <td>{{ emp.loginEmail }}</td>
          <td>{{ emp.departmentName }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteEmployee(emp.employeeId)">Delete</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="editEmployee(emp)">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  